{% extends 'sns/base.html' %}

{% block title %}
  {{ selected_user.username }} の投稿一覧
{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="mt-3">{{ selected_user.username }} の投稿一覧</h1>
    <hr>
    {% for object in object_list reversed %}
      <div class="mb-2">
        <small>{{ object.updated_at }}</small>
      </div>
      <a href="{% url 'sns:detail' object.pk %}" class="text-dark">
        <p>{{ object.text }}</p>
      </a>
      <hr>
    {% endfor %}
  </div>
{% endblock content %}
